* {
  box-sizing : border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d1d8e0;
}

.arrow a {
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}
.subject {
  font-size: 17px;
}

h3 {
font-size: 15px;
color: red;
font-weight: bold;
}

.header-btn {
  outline: none;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000000; 
  cursor: pointer;
  background-color: #f1f2f6;
  color: #34495e;
  margin-left: 15px;
  padding: 20px 30px;
  border-radius: 13px;
  width: 55%;
  text-align: left;
}

.header-btn:focus {
   outline: none;
}
.header-btn:hover {
  /*background-color: #444;*/
  outline: none;
}
.arrow a {
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.dropbtn {
  background-color: #ecf0f1;
  color: black;
  padding: 5px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 95vw;
  margin: auto;
  border-radius: 20px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #dfe6e9;
  border-left: 5px solid #596275;
}


.modal {
  display: none; 
  left: 0;
  top: 0;
  position: fixed;
  width: 100%; /* Full width */
  height: 100%;  /*Full height */
  background-color: rgba(0,0,0,0.4);
  /* margin: auto; */
  overflow: auto; /* Enable scroll if needed */
  /*-webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
   /* border: 2px solid red; */
}


/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 70%;
  height: 75%;

  /*Add animation*/
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}


/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 1px;
  background-color: #2C3A47;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.form {
  padding: 3px;
}

.modal-body {padding: 10px 5px;}

.modal-body input[type='email'], input[type='text'] {
  width: 90%;
  outline: none;
  padding: .7rem;
  margin: 0.2rem;
  border: none;
  border-bottom: 1px solid grey;
  clear: both;
}
::placeholder {
  padding: 10px;
}
 .modal-body textarea {
  border: 1px solid grey;
  outline: none;
  width: 100%;
  height: 90%;
  border-radius: 5px;
  resize: none;
 }
 .modal-body button {
   padding: 15px;
   border-radius: 10px;
   background-color: rgb(12, 24, 36);
   color: white;
   float: right;
 }
 .modal-body button:focus {
   outline: none;
 }


/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@media screen and (max-width: 450px) {
  .modal-content {
    width: 100%;
    margin: auto;
    border : 1px solid grey;
    border-radius: 5px;
  }
  .modal-header {
    font-size: 15px;
    padding: 1px;
    font-weight: bolder;
  }
  .modal-body input[type='email'], input[type='text'] {
   padding: 0.2rem;
  }
  .modal-body textarea {
    height: 80%;
  }

}